// CTA
.cta-text-slide {
  animation: slideUp 0.5s ease;
  transition: all 0.3s ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.bottom-bar-cta {
  position: fixed;
  width: 100%;
  margin-bottom: 0px !important;
  border-bottom: 1px solid #eee;
  background-color: #fff !important;
  bottom: 46px;

  p {
    position: relative;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  .bottom-bar-left {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-right: 10px;
    margin-left: -12px;
    font-size: 12px;
  
    .store-icon {
      position: relative;
      margin-left: 1px;
    }

    .contact-icon {
      position: relative;
      margin-left: 3px;
    }

    .button-label {
      position: relative;
      margin-top: -6px;
    }
  }

  .bottom-bar-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .bottom-bar-cart {
    background-color: #fae9e1;
    padding: 8px 12px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #fae9e1;

    .cart-icon {
      font-size: 20px;
      color: #ff4a07;
      font-weight: bold;
    }
  }

  .bottom-bar-store {
    position: relative;
    color: #000 !important;
    background-color: transparent;
    border: 0px none;
    width: 50px;
  }

  .bottom-bar-contact {
    position: relative;
    color: #000 !important;
    margin-left: -28px;
    background-color: transparent;
    border: 0px none;
    width: 50px;
  }

  .bottom-bar-button {
    background-color: #ff4906;
    border-color: #ff4906;
    border-radius: 0;
    width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
  }
}
