.product-details-container {
  position: relative;
  padding: 16px;
  margin-top: -40px;
  background-color: #fff;
  margin-bottom: 90px;

  h5 {
    position: relative;
    font-size: 15px;
  }

  p {
    position: relative;
    font-size: 14px;
    color: #999;
  }
}
