.kwai-shop-page {
  position: relative;
  font-family: 'sans-serif';
  background-color: #fff;

  .product-hero {
    position: relative;
  
    .carrousel {
      width: 100%;
  
      .swiper-wrapper {
        height: auto !important;
      }
  
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
      }
    }
  
    .product-hero-thumbnails {
      margin-top: 10px;
  
      .swiper-slide {
        width: 44px !important; // thumbnail + margem
        height: 44px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .product-hero-thumbnail {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        object-fit: cover;
        display: block;
      }
    }
  }
  
  .product-header {
    position: relative;
    margin-top: 2px;
    background-color: #fff;
    padding: 16px;
  
    .product-badge {
      font-size: 12px;
      border-radius: 4px;
      background-color: #f14227 !important;
      color: #fff;
    }
  
    .product-price {
      position: relative;
      color: #f14227;
      font-weight: bold;
      font-size: 12px;
    }
  
    .product-price-value {
      position: relative;
      font-size: 16px;
    }
  
    .product-name {
      font-size: 0.95rem;
      font-weight: 500;
      margin-bottom: 4px;
    }
  
    .product-sale-count {
      position: relative;
      font-size: 12px;
      color: #999;
    }
  }
  
  .shipping-container {
    position: relative;
    padding: 16px;
    background-color: #fff;
    border-top: 6px solid #eee;
    padding-bottom: 4px;
    font-size: 0.9rem;
    color: #333;

    .shipping-title {
      font-size: 0.92rem;
    }

    .shipping-address-container {
      color: #444;
      padding-right: 11px !important;
    }

    .shipping-address {
      font-size: 0.88rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bluesky {
      color: #40a49a;
    }

    .refund-container {
      .refund-section {
        margin-left: -6px;
        font-size: 0.85rem;
        color: #666;
      }
    }
  }
  
  .refund-container {
    position: relative;
    margin-bottom: 0px;
    border-bottom: 2px solid #EEE;
    padding: 12px 10px;
    background-color: #d8fbd3;
    font-size: 14px;
  
    .icon {
      position: relative;
      color: #00ad23;
      font-size: 16px;
    }
  
    .refund-text {
      position: relative;
      font-weight: bold;
      font-size: 11px;
      color: #169812;
    }
  }
  
  .reviews-container {
    position: relative;
    border-top: 5px solid #EEE;
    padding-top: 15px;

    h5 {
      position: relative;
      font-size: 15px;
    }
  
    .review-card-avatar {
      width: 30px;
      height: 30px;
      background-color: #EEE;
      border-radius: 50%;
      margin-right: -5px;
    }

    .card-body-row {
      margin-top: -10px !important;
      margin-bottom: -10px !important;
    }

    .review-card {
      box-shadow: 0px !important;
      border: 0px !important;
      margin-left: -10px;
      margin-right: -10px;
      border-radius: 0px !important;
      margin-top: 0px;

      &:not(:last-child) {
        border-bottom: 1px solid #EEE !important;
      }

      .review-card-label {
        position: relative;
        font-size: 12px;
        color: #d5d4d4 !important;
      }
  
      .review-card-name {
        position: relative;
        font-size: 12px;
        margin-left: -20px;
      }
  
      .review-card-star {
        position: relative;
        font-size: 12px;
        color: #ffe16a;
      }
  
      .review-card-comment {
        font-size: 12px;
        color: #000;
      }
    }
  }
  
  .store-container {
    position: relative;
    border-top: 8px solid #EEE;
    padding-top: 15px;
    padding-bottom: 10px;

    .store-name {
      font-size: 14px;
    }

    .store-recurring-clients {
      position: relative;
      padding: 3px;
      border-radius: 4px;
      background-color: #fff3e0;
      font-weight: bold;
      color: #b79059;
      font-size: 11px;
    }

    .store-product-count {
      position: relative;
      color: #afafaf;
      font-size: 11px;
    }

    .store-visit-button {
      font-size: 15px;
      padding: 5px 15px;
      border-radius: 4px;
      color: #000;
      border: 1px solid #e2e2e2;
      font-weight: bold;
    }
  }

  .store-options-container {
    position: relative;
    padding: 16px;
    border-top: 1px solid #eee;
    background-color: #fff;
  
    h5 {
      position: relative;
      font-size: 15px;
    }
  
    .store-options-list {
      display: flex;
      overflow-x: auto;
      padding-bottom: 5px;
      -webkit-overflow-scrolling: touch;
    
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .store-options-list::-webkit-scrollbar {
      display: none;
    }
    
    .store-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
    }
    
    .store-card-img {
      width: 110px;
      border-radius: 4px;
      object-fit: cover;
    }
    
    .store-card-name {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 4px;
      width: 100%;
    }
    
    .store-card-price {
      font-size: 14px;
      color: #111;
    }
  }
  
  .product-details-container {
    position: relative;
    padding: 16px;
    margin-top: -40px;
    background-color: #fff;
    margin-bottom: 90px;
  
    h5 {
      position: relative;
      font-size: 15px;
    }
  
    p {
      position: relative;
      font-size: 14px;
      color: #999;
    }
  }


  // CTA
  .cta-text-slide {
    animation: slideUp 0.5s ease;
    transition: all 0.3s ease;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .bottom-bar-cta {
    position: fixed;
    width: 100%;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #eee;
    background-color: #fff !important;
    bottom: 45px;

    p {
      position: relative;
      font-size: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  
  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  
    .bottom-bar-left {
      display: flex;
      gap: 25px;
      align-items: center;
      font-size: 12px;
    }
  
    .bottom-bar-right {
      display: flex;
      align-items: center;
    }
  
    .bottom-bar-cart {
      background-color: #fae9e1;
      padding: 7px 12px;
  
      .cart-icon {
        font-size: 20px;
        color: #ff4a07;
        font-weight: bold;
      }
    }
    
    .bottom-bar-store {
      position: relative;
      background-color: transparent;
      border: 0px none;
      width: 50px;
    }

    .bottom-bar-contact {
      position: relative;
      margin-left: -28px;
      background-color: transparent;
      border: 0px none;
      width: 50px;
    }

    .bottom-bar-button {
      background-color: #ff4a07;
      border-color: #ff4a07;
      border-radius: 0;
      width: 215px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 14px;
    }
  }
  
}
